.minified .pdBenefit {
    margin-left: 38px;
}/*Responsive*/
    .m-20{
        margin-left: 10px;
    }
    .flex-bucket h1{
        color: orange;
    }
    .list-profile .info-text{
        max-width: 45%;
        }
    .list-profile .info-text span{
        font-size: 10px;
    }
    .minified .list-profile .info-text{
        max-width: 45%;
    }
    .minified .list-profile .info-text small{
        font-size: 16px;
    }
    .core-box .subtitle {
        font-size: 18px;
        font-weight: 600;
    }
    .core-box .title {
        line-height: 16px;
        font-size: 0.65vw;
        line-height: 1vw;
    }
    .core-box .core-icon {
        width: 33.3333%;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    .core-box .core-content {
        margin-left: 30.3333%;
        min-height: 20px;
    }
    .core-icon i{
        margin-left: 0px;
        margin-top: 15px;
    }
    
    .core-icon .fa-venus-mars{
        margin-left: -1px;
        margin-top: 12px;
        font-size: 30px;
    }
    .core-icon .fa-plane{
        font-size: 30px;
    }
    .core-icon .fa-child{
        margin-left: -4px;
        margin-top: 12px;
    }

    .minified .core-box .subtitle {
        font-size: 20px;
    }
    .minified .core-box .title {
        line-height: 16px;
        font-size: 0.82vw;
        line-height: 1vw;
    }
    .minified .core-box .core-icon {
        width: 33.3333%;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    .minified .core-box .core-content {
        margin-left: 30.3333%;
        min-height: 20px;
    }
    .minified .core-icon i{
        font-size: 35px;
        margin-left: 0px;
        margin-top: 10px;
    }
    
    .minified .core-icon .fa-venus-mars{
        margin-left: -1px;
        margin-top: 9px;
        font-size: 35px;
    }
    .minified .core-icon .fa-plane{
        font-size: 35px;
        margin-top: 10px;
    }
    .minified .core-icon .fa-child{
        margin-left: -3px;
        margin-top: 9px;
    }
    .fix-comben{
        position: fixed;
        height: 100px;
        width: 100%; 
        left:300px;
        bottom: 0; 
        background: #FFF; 
        z-index:999; 
        box-shadow: 0 5px 30px 5px rgba(0,0,0,.1);
        padding: 18px;
    }
    .minified .fix-comben{
        left:45px !important;
    }
    .minified .benefit-left{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        margin-left: 270px;
    }
    .pdBenefit {
        margin-left: 24px;
    }
    .minified .pdBenefit {
		margin-left: 38px;
	}
    .chBenefit {
        width: 130px;
    }
    .minified .chBenefit {
        width: 150px;
    }
    .scrollable-menu {
        height:330px;
        max-height:550px;
        overflow-x: hidden;
    }

@media only screen  and (min-width : 1224px) {
    .info-task-profile {
        margin-left: 23% !important;
    }
    /*overview my profile*/
    .minified .benefit-left{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        margin-left: 240px;
    }
	.benefit-left{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        margin-left: 150px;
    }
    .pdBenefit {
        margin-left: 8px;
    }
    .minified .pdBenefit {
		margin-left: 38px;
	}
    .size-1280 .list-profile{
         width: 90px;
    }
    .list-profile{
        width: 115px;
        float: left;
        margin-left: 15px;
        padding:2%;
    }
    .scrollable-menu {
        height:340px;
        max-height:550px;
        overflow-x: hidden;
    }
    .minified .list-profile{
        padding:0.1%;
        margin-left: 0;
    }
    .list-profile .info-text{
        max-width: 40%;
    }
    .list-profile .info-text span{
        font-size: 10px;
    }
    .myTask .info-text{
        max-width: 50%;
    }
    .minified .list-profile .info-text{
        max-width: 50%;
    }
    .minified .list-profile .info-text span{
        font-size: 10px;
    }
    .minified .list-profile .info-text small{
        font-size: 16px;
    }
    
    /*End overview my profile*/
    
    /*my benefit*/
    .core-box .subtitle {
        font-size: 16px;
    }
    .core-box .title {
        font-size: 1px;
        line-height: 16px;
        font-size: 0.62vw;
        line-height: 1vw;
    }
    .core-box .core-icon {
        width: 33.3333%;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    .core-box .core-content {
        margin-left: 30.3333%;
        min-height: 20px;
    }
    .core-icon i{
        font-size: 25px;
        margin-left: 0px;
    }
    
    .core-icon .fa-venus-mars{
        margin-left: -1px;
        margin-top: 1px;
        font-size: 25px;
    }
    .core-icon .fa-plane{
        font-size: 25px;
    }
    .core-icon .fa-child{
        margin-left: -7px;
        margin-top: 1px;
    }    
    .minified .core-box .subtitle {
        font-size: 20px;
    }
    .minified .core-box .title {
        line-height: 16px;
        font-size: 0.82vw;
        line-height: 1vw;
    }
    .minified .core-box .core-icon {
        width: 33.3333%;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    .minified .core-box .core-content {
        margin-left: 30.3333%;
        min-height: 20px;
    }
    .minified .core-icon i{
        font-size: 30px;
        margin-left: 0px;
        margin-top: 10px;
    }
    
    .minified .core-icon .fa-venus-mars{
        margin-left: -1px;
        margin-top: 1px;
        font-size: 30px;
    }
    .minified .core-icon .fa-plane{
        font-size: 30px;
    }
    .minified .core-icon .fa-child{
        margin-left: -3px;
        margin-top: 2px;
    }
    /*End my benefit*/
}
@media (max-width:1024px) {
 .info-task-profile {
        margin-left: 15% !important;
    }
    .header-icon{
        padding:0 0; margin: 0 auto;
    }
    .minified .header-icon{
        padding:0 10%; margin: 0 auto;
    }
    .ribbon-btn h2{
        font-size: 18px;
    }
    .list-profile{
        width: 90px;
        float: left;
        margin-left: 10px;
        padding:1%;
    }
    .panel-heading h1 {
        font-size: 22px;
    }
    .minified .panel-heading h1 {
        font-size: 24px;
    }
    .minified .list-profile{
        padding:1.5%;
        margin-left: 30px;
    }
    .minified .list-profile{
        padding-bottom: 5px;
    }
    .minified .list-profile .info-task i{
        font-size: 15px;
        width: 20px;
    }
    .minified .list-profile .info-text{
        max-width: 53%;
    }
    .minified .list-profile .info-text span{
        font-size: 9px;
    }
    .minified .list-profile .info-text small{
        font-size: 12px !important;
    }
    .minified .list-profile .info-text small{
        font-size: 16px;
    }
    .minified .leave-sm{
        margin-top: 30px !important;
    }
    .minified .myTask .info-text span{
        font-size: 13px;
    }
    .minified .myTask .action-task{
        font-size: 12px;
    }
    .minified .m-20 img{
        margin:0 0px;
        padding: 0 0px;
    }
    .minified .m-20 h1 b{
        font-size: 20px;
        font-weight:500;
    }
    .minified .m-20 h1 small{
        font-size: 16px !important;
    }

    .minified .benefit-left{
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        margin-left: 150px;
    }

    .benefit-left{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        margin-left: 15px;
    }
    .minified .chBenefit{
	margin-left: 10px;
        width: 115px;
    }
    .minified .info-text-profile{
        margin-left: 5px;
    }
    .info-text-profile{
        margin-left: 5px;
    }
    #saveDraft {
        margin-right: 170px !important;
        margin-top: -45px !important;
    }
    .minified #saveDraft{
        margin-right: 30px !important;
         margin-top: 0 !important;
    }
    .minified #submitConfirm{
        margin-right: -10px !important;
    }
    .minified .height-news{
        height:349px !important;
        margin-bottom: 20px;
    }
    .minified .scrollable-menu {
        height:220px !important;
        max-height:220px;
        overflow-x: hidden;
    }
    .minified .m-img{
        margin-left: 10px;
    }
    /*normal*/
    .minified .draft{
        margin-right: 100px;
    }
    .m-img{
        margin-left: 10px;
    }
    .scrollable-menu {
        height:367px;
        max-height:367px;
        overflow-x: hidden;
    }
    .m-20{
        padding-bottom:10px;
        margin-left: 0px !important;
    }
    .btn-orange{
        padding: 10px 50px;
    }
    .btn-border-blue{
        padding: 10px 20px;
    }
    .ribbon-btn{
        width: 200px !important;
        height: 40px;
    }
    .ribbon-btn-1{
        width: 300px !important;
    }
    .chBenefit{
        width: 105px;
    }
    .pdBenefit{
        margin-left: 13px;
    }
    .myTask .info-text span{
        font-size: 12px;
    }
    .myTask .action-task{
        font-size: 11px;
    }
    .m-20 img{
        margin:0 60px;
        padding: 0 60px;
    }
    .m-20 h1 b{
        font-size: 16px;
    }
    .m-20 h1 small{
        font-size: 10px !important;
    }
    .list-profile .info-task i{
        font-size: 15px;
        width: 20px;
    }
     .list-profile .info-text{
        max-width: 53%;
    }
     .list-profile .info-text span{
        font-size: 9px;
    }
     .list-profile .info-text small{
        font-size: 12px !important;
    }
     .list-profile .info-text small{
        font-size: 16px;
    }
     .leave-sm{
        margin-top: 30px !important;
    }
     .myTask .info-text span{
        font-size: 13px;
    }
     .myTask .action-task{
        font-size: 12px;
    }
}
